header {
  padding-left: 32px;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  display: inline-flex;
  flex-direction: row;
  height: 64px;
}

h1 {
  padding-right: 1em;
}

nav *, table a {
  padding: 1em;
  color: black;
  text-decoration: none;
}

nav a:hover, table a:hover {
  color: white;
  text-decoration: none;
  background-color: black;
}

nav {
  width: 40em;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.1em;
}
