.table {
  font-family: 'Montserrat', sans-serif;
  width: 50%;
  margin: 2em auto 0 auto;
}

form {
  padding: 32px;
  width: 33%;
  font-family: 'Montserrat', sans-serif;
}

fieldset {
  display: flex;
  justify-content: space-between;
}

main {
  width: 40%;
  margin: 2em 30% 0 30%;
}
